.notes-wrapper {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.notes-list {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.notes-card {
  align-self: stretch;
  background-color: rgba(black, 0.3);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
  
  &-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(white, 0.92);
    margin-bottom: 1rem;
  }

  &-content {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(white, 0.9);
  }

  &:hover {
    background-color: rgba(black, 0.5);
    transform: translateX(-1rem);
  }
}

.notes-button {
  &:visited,
  &:link {
    display: flex;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.877);
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0rem 3px 1rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  &:active {
    transform: translate(-50%, 0.2rem);
  }
}