<div class="todo-wrapper">
  <div class="todo-list">
    <div class="todo-item">
      <input type="checkbox" class="todo-input" id="item">
      <label for="item" class="todo-name">
        <span class="todo-button">
          <i class="material-icons-outlined">done</i>
        </span>
        Dit con me may
      </label>
    </div>
    
    <div class="todo-item">
      <input type="checkbox" class="todo-input" id="1">
      <label for="1" class="todo-name">
        <span class="todo-button">
          <i class="material-icons-outlined">done</i>
        </span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, eligendi corporis quo porro quod aspernatur nulla sit veniam dignissimos iusto suscipit? Voluptates ipsum, a quod hic molestiae aperiam tempora illum.
      </label>
    </div>

    
  </div>
</div>