<div class="notes-wrapper">
  <div class="notes-list">
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">This is the notes's content</p>
    </div>
    
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        architecto pariatur eius, facilis cumque tenetur harum dolorum molestias
        velit in. Tempore eveniet laboriosam impedit soluta architecto provident
        placeat iure cum.
      </p>
    </div>
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">This is the note's content</p>
    </div>
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">This is the note's content</p>
    </div>
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">This is the note's content</p>
    </div>
    <div class="notes-card">
      <h3 class="notes-card-title">This is the title</h3>
      <p class="notes-card-content">This is the note's content</p>
    </div>
  </div>

  <a [routerLink]="['/checked']" class="notes-button">
    <i class="material-icons-outlined">add</i>
    Add
  </a>
</div>
